@media(max-width: 600px) {
    header {
        width: 80%;
        min-width: 450px;
    }

    .grid {
        gap: 2rem 4rem !important;
    }

    .circle {
        height: 140px;
        width: 140px;
    }

    .img-wrapper {
        height: 100px;
        width: 100px;
    }
}

@media(max-width: 450px) {
    body {
        background: radial-gradient(circle, rgba(31, 55, 86, 90%) 0%, rgba(20, 21, 57, 1) 100%);
    }

    header {
        width: 90%;
        min-width: 350px;
        margin: 1.7rem 0;
    }

    .header-container {
        padding: 1rem 2rem;
    }

    .heading {
        line-height: 1.5rem;
        font-size: 1.6rem;
    }

    .score {
        padding: 1rem 1rem;
        width: 6rem;
    }

    .score-count {
        font-size: 2rem;
    }

    .grid {
        gap: 1rem 1rem !important;
    }

    .play-box {
        grid-area: 4 / 1 / span 1 / span 3 !important;
    }

    .circle.winner {
        box-shadow: 0px 0px 0px 0.8rem rgba(69, 147, 55, 0.3), 0px 0px 0px 1.6rem rgba(69, 147, 55, 0.2), 0px 0px 0px 2.4rem rgba(69, 147, 55, 0.1) !important;
    }

    .picked-text {
        grid-area: 3 / 1 / span 1 / span 1 !important;
        font-size: 1.2rem !important;
    }

    .house-picked-text {
        grid-area: 3 / 3 / span 1 / span 1 !important;
        font-size: 1.2rem !important;
    }

    .result {
        font-size: 1.3rem;
    }

    .circle {
        height: 130px;
        width: 130px;
    }

    .img-wrapper {
        height: 90px;
        width: 90px;
    }

    .rules-btn {
        font-size: 1.5rem;
        align-self: center;
        margin-right: 0;
    }
}